USE [master]
GO
/****** Object:  Database [mjDB]    Script Date: 04/16/2016 15:34:10 ******/
CREATE DATABASE [mjDB] ON  PRIMARY 
( NAME = N'mjDB', FILENAME = N'D:\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\mjDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'mjDB_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\mjDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mjDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mjDB]
GO
/****** Object:  Table [dbo].[T_User]    Script Date: 04/16/2016 15:34:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [nvarchar](20) NULL,
	[LoginPwd] [nvarchar](100) NULL,
	[RealName] [nvarchar](10) NULL,
	[Tel] [nvarchar](20) NULL,
	[Birthday] [datetime] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[T_User] ON
INSERT [dbo].[T_User] ([Id], [LoginId], [LoginPwd], [RealName], [Tel], [Birthday], [IsDeleted]) VALUES (1, N's', N'3c0301b03d6cd585d9a802720fc93a2d', N's', N's', CAST(0x0000A5D700000000 AS DateTime), 1)
INSERT [dbo].[T_User] ([Id], [LoginId], [LoginPwd], [RealName], [Tel], [Birthday], [IsDeleted]) VALUES (2, N'admin', N'0f722f527c418beb5ea8e477152797a4', N'moy', N'150', CAST(0x00009D9D00000000 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[T_User] OFF
/****** Object:  Table [dbo].[T_Setting]    Script Date: 04/16/2016 15:34:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Setting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[sysKey] [nvarchar](50) NULL,
	[sysValue] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_News]    Script Date: 04/16/2016 15:34:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ssfl] [int] NULL,
	[Title] [nvarchar](100) NULL,
	[Author] [nvarchar](100) NULL,
	[Click] [int] NULL,
	[Addtime] [datetime] NULL,
	[LinkAddress] [nvarchar](50) NULL,
	[Content] [nvarchar](100) NULL,
	[Source] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Case]    Script Date: 04/16/2016 15:34:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Case](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Content] [nvarchar](100) NULL,
	[ImgPath] [nvarchar](100) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
